// @function px2rem($px){
//     $rem : 100px;
//     @return ($px / $rem) + rem;
// }
.home{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    flex-wrap: wrap;
    .router_item{
        width: 200px;
        height: 200px;
        text-align: center;
        line-height: 200px;
        box-shadow: 2px 2px 2px 2px #ccc;
        margin-bottom: 20px;
    }
    .vwBtn{
        width: 750px;
        height: 100px;
        margin: 10px 0;
        text-align: center;
        background: pink;
        line-height: 100px;
    }
}